body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h5,
p,
h2,
h3 {
  margin: 0;
}

.ProductCardContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  border-radius: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.cardLineItems {
  width: 100%;
}

.productsContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  max-width: 100vw;
  padding: 1rem;
  gap: 5px;
}
.productLineItem {
  display: flex;
  justify-content: space-between;
}
.inventorySection {
  display: flex;
  flex-direction: column;
}
#addToCart {
  width: 50%;
}

.cartLineItem {
  display: flex;
  justify-content: space-between;
}

.cartTotal {
  text-align: right;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px solid black;
  margin: 10px;
  width: 33%;
  padding: 10px;
  border-radius: 1rem;
}
.cartContainer {
  display: flex;
  justify-content: center;
}
.cartLineItems {
  width: 100%;
}

.cartLineItem {
  padding: 5px 0 5px 0;
}

h1 {
  margin: 0;
}

.discountLine {
  text-align: right;
  padding-top: 10px;
  color: green;
  font-style: italic;
}
#subtotal {
  text-align: right;
  padding-top: 10px;
  font-style: italic;
}
#clearCart {
  color: red;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  margin-left: auto;
}

.productDescription {
  text-align: center;
}

#error {
  color: red;
}
