body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h5,
p,
h2,
h3 {
  margin: 0;
}

.ProductCardContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 200px;
  height: 200px;
  border-radius: 2rem;
  gap: 2px;
  align-items: space-between;
  justify-content: space-between;
  padding: 1rem;
}

.productsContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  max-width: 100vw;
  padding: 1rem;
  gap: 5px;
}
.productLineItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.inventorySection {
  display: flex;
  flex-direction: column;
}
